body {
  font-family: Arial, sans-serif;
  margin: 0;
  background-color: #f4f4f4;
}

.navbar {
    display: flex;           /* Flexbox layout */
    justify-content: space-between; /* Push nav-links left, search right */
    align-items: center;
    background-color: #007BFF;
    padding: 10px 20px;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 100;
}

.navbar a {
    color: white;
    text-decoration: none;
    margin-right: 15px;
    font-weight: bold;
}

.navbar a:hover {
    text-decoration: underline;
}

.search-container {
    display: flex;
    align-items: center;
}

.search-container input[type="text"] {
    padding: 5px 10px;
    border: none;
    border-radius: 3px;
}

.search-container button {
    margin-left: 5px;
    padding: 5px 10px;
    border: none;
    border-radius: 3px;
    background-color: #0056b3;
    color: white;
    cursor: pointer;
}

.search-container button:hover {
    background-color: #003f7f;
}

header, section {
  padding: 20px;
  text-align: center;
  background: white;
  margin: 20px;
  border-radius: 5px;
}

img {
  width: 250px;
  margin: 10px;
  border-radius: 5px;
}

form input, form textarea {
  width: 80%;
  padding: 10px;
  margin: 10px 0;
}

button {
  padding: 10px 20px;
  background-color: #333;
  color: white;
  border: none;
  cursor: pointer;
}
